body {
  font-family: Arial, Sans-Serif;
  background-color: !important;
}

a {
  color: #0067ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form {
  width: 300px;
  margin: 0 auto;
}

input[type='submit']:hover {
  background-color: #024978;
}
